
/**=====================
    03.  Card CSS Start
==========================**/
//Card css
.card{
  margin-bottom: $card-margin-bottom;
  border: $card-border-width;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: $card-border-radious;
  box-shadow: $card-box-shadow;
  .card-header{
    background-color:  $card-header-bg-color;
    padding: $card-padding;
    border-bottom: 1px solid $card-border-color;
    border-top-left-radius: $card-border-radious;
    border-top-right-radius: $card-border-radious;
    position: relative;
    overflow: hidden;
    ul.creative-dots {
      li {
        position: absolute;
        border-radius: 100%;
        &.big-dot {
          left: -32px;
          top: 0;
          width: 50px;
          height: 50px;
          border-radius: 80% !important;
        }
        &.semi-big-dot {
          width: 30px;
          height: 30px;
          left: -14px;
          top: 42px;
        }
        &.medium-dot {
          width: 20px;
          height: 20px;
          left: 18px;
          top: -5px;
        }
        &.semi-medium-dot {
          width: 13px;
          height: 13px;
          left: 20px;
          top: 38px;
        }
        &.semi-small-dot {
          width: 8px;
          height: 8px;
          left: 32px;
          top: 23px;
        }
        &.small-dot {
          width: 4px;
          height: 4px;
          left: 42px;
          top: 37px;
        }
      }
    }
    &.no-border {
      border-bottom: none;
    }
    h5{
      margin-bottom: 0;
      text-transform: $card-header-font-transform;
      font-weight: $card-header-font-weight;
      line-height: 1;
      font-family: $font-nunito;
    }
    > span{
      font-size: $card-header-span-size;
      color: $card-header-span-color;
      margin-top: 5px;
      display: block;
      letter-spacing: 1px;
    }
  }
  .card-body{
    padding: $card-padding;
    background-color: $card-body-bg-color;
    .rounded{
      border-radius: 50px !important;
    }
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .sub-title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .card-footer{
    background-color: $card-footer-bg-color;
    border-top: 1px solid $card-border-color;
    padding: $card-padding;
    border-bottom-left-radius: $card-border-radious;
    border-bottom-right-radius: $card-border-radious;
  }
}

.card{
  .card-header{
    .card-header-right{
      border-radius: 0 0 0 7px;
      right: 40px;
      top: 22px;
      display: inline-block;
      float: right;
      padding: 8px 0;
      position: absolute;
      background-color: $white;
      .card-option{
        text-align: right;
        width: 35px;
        height: 20px;
        overflow: hidden;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        li{
          display: inline-block;
          &:first-child {
            i {
              font-size: 18px;
            }
          }
        }
      }
      i{
        margin: 0 5px;
        cursor: pointer;
        color: $dark-color;
        line-height: 20px;
        &.icofont-refresh{
          font-size: 13px;
        }
      }
    }
  }
}
.card{
  &.card-load {
    .card-loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 8;
      align-items: center;
      justify-content: center;
      i{
        margin: 0 auto;
        color: $primary-color;
        font-size: 20px;
      }
    }
  }
}
.card{
  &.full-card {
    position: fixed;
    top: 80px;
    z-index: 99999;
    box-shadow: none;
    right: 0;
    border-radius: 0;
    border: 1px solid $light-semi-gray;
    width: calc(100vw - 272px);
    height: calc(100vh - 80px);
    .card-body {
      overflow: auto;
    }
  }
}
.card-absolute{
  margin-top: 20px;
  .card-header{
    position: absolute;
    top: -20px;
    margin-bottom: 30px;
    left: 15px;
    border-radius: 15px;
    padding: 10px 15px;
    h5{
      font-size: 17px;
    }
  }
  .card-body{
    margin-top: 10px;
  }
}
.card-header{
  .nav-material{
    margin-bottom: -13px;
  }
}
.custom-card{
  overflow: hidden;
  .card-header{
    padding: 0;
    img{
      border-radius: 50%;
      margin-top: -100px;
      transform: scale(1.5);
    }
  }
  .card-profile{
    text-align: center;
    margin-top: -60px;
    img{
      height: 150px;
      padding: 7px;
      background-color: $white;
      z-index: 1;
      position: relative;
    }
  }
  .card-social{
    text-align: center;
    li{
      display: inline-block;
      padding: 15px 0;
      a{
        padding: 13px;
        color: rgb(188, 198, 222);
        font-size: 16px;
        transition: all 0.3s ease;
        &:hover{
          color: $primary-color;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .profile-details{
    h6{
      margin-bottom: 30px;
      margin-top: 10px;
      color:$theme-body-sub-title-color;
      font-size: 14px;
    }
  }
  .card-footer{
    padding: 0;
    > div{
      +div{
        border-left: 1px solid $light-semi-gray;
      }
      padding: 15px;
      text-align: center;
      h3{
        margin-bottom: 0;
        font-family: $font-work-sans, $font-serif;
        font-size: 24px;
      }
      h6{
        font-size: 14px;
        color:$theme-body-sub-title-color;
      }
      i{
        font-size: 24px;
        display: inline-block;
        margin-bottom: 15px;
      }
      .m-b-card{
        margin-bottom: 10px;
      }
    }
  }
}




// Grediant card//
@each $card-name, $card-color in (primary, $primary-color),
        (secondary, $secondary-color) ,
        (success, $success-color),
        (danger, $danger-color),
        (info, $info-color),
        (light, $light-color),
        (dark, $dark-color),
        (warning, $warning-color) {
  .card-g-#{$card-name}{
    background-image: linear-gradient(to bottom right, lighten($card-color, 5%), darken($card-color, 10%));
    box-shadow: 2px 12px 26px 3px rgba($card-color, 0.3);
    .card-header{
      background-color: transparent;
      border-bottom: 1px solid rgba(242, 244, 255, 0.1);
      h5{
        background: unset;
        -webkit-text-fill-color: #fff;
      }
    }
    .card-body{
      p{
        color: $white;
      }
    }
    &:hover{

    }
  }
}


/**=====================
    03. Card CSS End
==========================**/
