/**=====================
     67. internationalization css start
==========================**/
.hdg_main{
  position: relative;
}
.main {
  .langChoice{
    position: absolute;
    right: 30px;
    top: 32px;
    padding: 10px 12px;
    background-color: transparent;
    border-radius: 15px;
  }
}
/**=====================
     67. internationalization CSS end
==========================**/