body {
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url(../img/icons/server-error-2.svg);
    background-position: 80% 10px;
}

.error-content {
    max-width: 620px;
    margin: 200px auto 0;
}

.error-icon {
    height: 160px;
    width: 160px;
    background-image: url(../img/icons/warning-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 80px;
}

.error-code {
    font-size: 120px;
    color: #5c6bc0;
}