.bc-share-def{display: inline-block; width: 40px; height: 40px; margin: 2px; background-size: 100% 100%;background-repeat: no-repeat; background-position: center;}

.bc-wha2{background-image: url('../img/icons/bc-whats.png');}
.bc-mail2{background-image: url('../img/icons/bc-mail.png');}
.bc-prot{background-image: url('../img/icons/bc-prot.png');} 
.bc-finance{background-image: url('../img/icons/finance.png');} 
.bc-finance-block{background-image: url('../img/icons/finance_block.png');} 
.bc-alterar-senha{background-image: url('../img/icons/alterar_senha.png');} 