// General variables
$theme-bg-color: #ffffff;
$theme-font-size:14px;
$theme-font-color: #444444;
$theme-body-font-color: #333333;
$theme-body-sub-title-color: #777777;

// Theme colors variables
$primary-color:#ab8ce4 ;
$secondary-color:#26c6da ;
$success-color: #00c292 ;
$info-color   :#4099ff ;
$warning-color: #f3d800;
$danger-color: #FF5370 ;
$light-color   :#eeeeee ;
$semi-dark  :#aaaaaa;
$light-semi-gray   :#ddd;
$light-gray   :#cccccc;
$dark-gray  :#717171;
$dark-color   : #2a3142;
$gray-60   :#999999 ;
$transparent-color: transparent;
$auth-bg-color:#fafafa;
$light : #f6f6f6;

$dark-primary: #448aff;
$pitch-color: #fe8a7d;
$flower-pink: #fb6d9d;
$dark-sky: #536dfe;
$color-scarpa: #4c5667;
$color-fiord: #455a64;

// error page color add
$black : #000;
$white:#fff;
$btn-bhome-bg-c:#ff6060;
$btn-search-bg-c:#ffd042;
// error page color end

//social colors
$fb: #50598e;
$twitter: #6fa2d8;
$google-plus: #c64e40;
$linkedin: #0077B5;

//error input color start
$light-body-bg-color:#f7f7f7;



// dark layout variables
$dark-body-background: #303841;
$dark-card-background: #36404a;
$dark-small-font-color: #98a6ad;
$dark-all-font-color: rgba(255,255,255,0.7);
$sidebar-submenu-font-color:#98a6ad;
$dark-border-color: #4b5469;
$dark-editor-document: #2b2b2b;

//colors
$color_viking_approx: #44d6e9;
$color_dull_lavender_approx: #a888eb;
$white_70: rgba(255, 255, 255, 0.7);
$black_75: rgba(0, 0, 0, 0.75);
$color_shark_approx: #21262e;
$color_robins_egg_blue_approx: #0bc0f4;
$color_turquoise_approx: #33e7d1;
$color_scooter_approx: #19c9ed;
$color_black_haze_60_approx: rgba(246, 246, 246, 0.6);
$color_magnolia_approx: #f9f7ff;
$color_snuff_approx: #e7dff7;
$color_link_water_approx: #d8e0f3;
$color_manatee_approx: #8b91a2;
$black_9: rgba(0, 0, 0, 0.09);
$color_medium_purple_approx: #8d63da;
$color_eastern_blue_approx: #1e9faf;
$color_blizzard_blue_approx: #a9e8f0;
$color_observatory_approx: #008f6c;
$color_aquamarine_approx: #5cffd7;
$color_torch_red_approx: #ff2046;
$color_remy_approx: #ffecef;
$color_azure_radiance_approx: #0d7eff;
$color_hawkes_blue_approx: #d9ebff;
$color_quill_gray_approx: #d5d5d5;
$color_mirage_approx: #161a23;
$color_lynch_approx: #67779e;
$color_buddha_gold_approx: #c0ab00;
$color_sweet_corn_approx: #fff28d;
$black_10: rgba(0, 0, 0, 0.1);
$black_12: rgba(0, 0, 0, 0.12);
$color_star_dust_approx: #9f9ba5;
$black_12_5: rgba(0, 0, 0, 0.125);
$color_amber_approx: #ffc107;
$black_13: rgba(0, 0, 0, 0.13);
$color_white_lilac_approx: #f6f7fb;
$black_20: rgba(0, 0, 0, 0.2);
$gray: gray;
$color_silver_36_approx: rgba(191, 191, 191, 0.36);
$color_mercury_56_approx: rgba(222, 227, 231, 0.56);
$black_7: rgba(0, 0, 0, 0.07);
$white_75: rgba(255, 255, 255, 0.75);
$color_royal_blue_19_approx: rgba(88, 103, 221, 0.19);
$color_royal_blue_15_approx: rgba(88, 103, 221, 0.15);
$color_biloba_flower_approx: #c3adec;
$color_viking_approx: #49cfe0;
$color_green_haze_approx: #009973;
$color_geraldine_approx: #ff7c92;
$color_radical_red_approx: #ff2a4e;
$color_broom_approx: #ffe61d;
$color_galliano_approx: #cab400;
$color_cornflower_blue_approx: #69afff;
$color_dodger_blue_approx: #1783ff;
$color_oxford_blue_approx: #3a445b;
$color_fuscous_gray_approx: #555;
$color_prelude_approx: #c6b1ed;
$color_perfume_approx: #cbb7ee;
$color_moon_raker_approx: #d8caf3;
$color_turquoise_blue_approx: #67d7e5;
$color_sky_blue_approx: #74dbe7;
$color_spray_approx: #81deea;
$color_morning_glory_approx: #8fe1ec;
$color_charlotte_approx: #b6ecf3;
$color_humming_bird_approx: #d0f3f7;
$color_bright_turquoise_approx: #00f0b5;
$color_malibu_approx: #73b4ff;
$color_jordy_blue_approx: #8dc2ff;
$color_cornflower_approx: #99c9ff;
$color_perano_approx: #a6cfff;
$color_sail_approx: #b3d6ff;
$color_tropical_blue_approx: #c0ddff;
$color_solitude_approx: #e6f2ff;
$color_turbo_approx: #ffe303;
$color_lemon_approx: #ffe513;
$color_bright_sun_approx: #ffe831;
$color_gorse_approx: #ffea41;
$color_candy_corn_approx: #ffed5f;
$color_paris_daisy_approx: #ffef6e;
$color_kournikova_approx: #fff17e;
$color_picasso_approx: #fff49c;
$color_drover_approx: #fff6ac;
$color_pale_prim_approx: #fff7bb;
$color_brink_pink_approx: #ff6781;
$color_froly_approx: #ff7289;
$color_tickle_me_pink_approx: #ff869a;
$color_pink_salmon_approx: #ff90a3;
$color_sweet_pink_approx: #ff9aab;
$color_sundown_approx: #ffa5b4;
$color_pink_approx: #ffb9c5;
$color_pastel_pink_approx: #ffcdd6;
$color_cosmos_approx: #ffd8de;
$color_cerise_red_approx: #eb2067;
$color_violet_red_approx: #ed3c7a;
$color_french_rose_approx: #ee4a83;
$color_deep_blush_approx: #f16696;
$color_mauvelous_approx: #f590b3;
$color_illusion_approx: #f69ebd;
$color_cotton_candy_approx: #f9bad0;
$color_azalea_approx: #fac8d9;
$color_boulder_approx: #797979;
$color_suva_gray_approx: #888888;
$color_shady_lady_approx: #a7a7a7;
$color_nobel_approx: #b6b6b6;
$color_silver_approx: #bebebe;
$color_pumice_approx: #c5c5c5;
$black_32: rgba(0, 0, 0, 0.32);
$black_21: rgba(0, 0, 0, 0.21);
$color_desert_storm_approx: #f8f8f8;
$color_dull_lavender_40_approx: rgba(171, 140, 228, 0.4);
$color_dull_lavender_80_approx: rgba(171, 140, 228, 0.8);
$color_dull_lavender_90_approx: rgba(171, 140, 228, 0.9);
$color_scooter_80_approx: rgba(38, 198, 218, 0.8);
$color_scooter_90_approx: rgba(38, 198, 218, 0.9);
$color_caribbean_green_80_approx: rgba(0, 194, 146, 0.8);
$color_caribbean_green_90_approx: rgba(0, 194, 146, 0.9);
$color_mint_tulip_approx: #c2fff0;
$color_wild_watermelon_80_approx: rgba(255, 83, 112, 0.8);
$color_wild_watermelon_90_approx: rgba(255, 83, 112, 0.9);
$color_carnation_approx: #ff4e6c;
$color_school_bus_yellow_80_approx: rgba(243, 216, 0, 0.8);
$color_school_bus_yellow_90_approx: rgba(243, 216, 0, 0.9);
$color_gold_approx: #eed300;
$color_orchid_white_approx: #fffef3;
$color_picton_blue_80_approx: rgba(64, 153, 255, 0.8);
$color_picton_blue_90_approx: rgba(64, 153, 255, 0.9);
$color_gallery_80_approx: rgba(238, 238, 238, 0.8);
$color_gallery_90_approx: rgba(238, 238, 238, 0.9);
$color_cararra_approx: #ebebeb;
$color_outer_space_80_approx: rgba(42, 49, 66, 0.8);
$color_outer_space_90_approx: rgba(42, 49, 66, 0.9);
$color_ebony_clay_approx: #282f3f;
$color_cadet_blue_approx: #a5afc6;
$color_bon_jour_approx: #e0e0e0;
$color_cape_cod_approx: #424242;
$white_31: rgba(255, 255, 255, 0.31);
$color_dull_lavender_5_approx: rgba(171, 140, 228, 0.05);
$black_8: rgba(0, 0, 0, 0.08);
$color_web_orange_approx: #ffa800;
$black_11: rgba(0, 0, 0, 0.11);
$black_30: rgba(0, 0, 0, 0.3);
$black_60: rgba(0, 0, 0, 0.6);
$black_15: rgba(0, 0, 0, 0.15);
$color_mercury_approx: #dee2e6;
$color_alabaster_approx: #f9f9f9;
$seashell: #f1f1f1;
$white_20: rgba(255, 255, 255, 0.2);
$color_gray_approx: #828282;
$color_concrete_approx: #f3f3f3;
$color_alto_40_approx: rgba(220, 220, 220, 0.4);
$white_8: rgba(255, 255, 255, 0.08);
$color_gray_chateau_approx: #a6aaaf;
$color_nevada_approx: #656b78;
$color_whisper_50_approx: rgba(245, 247, 250, 0.5);
$black_33: rgba(0, 0, 0, 0.33);
$white_27: rgba(255, 255, 255, 0.27);
$color_mystic_approx: #e4e6ee;
$white_45: rgba(255, 255, 255, 0.45);
$white_30: rgba(255, 255, 255, 0.3);
$black_65: rgba(0, 0, 0, 0.65);
$color_perano_50_approx: rgba(174, 197, 231, 0.5);
$color_abbey_approx: #495057;
$color_mischka_approx: #ced4da;
$black_80: rgba(0, 0, 0, 0.8);
$color_biloba_flower_80_approx: rgba(188, 160, 238, 0.8);
$color_dull_lavender_60_approx: rgba(171, 140, 228, 0.6);
$color_scooter_60_approx: rgba(38, 198, 218, 0.6);
$color_caribbean_green_60_approx: rgba(0, 194, 146, 0.6);
$white_77: rgba(255, 255, 255, 0.77);
$white_40: rgba(255, 255, 255, 0.4);
$color_dull_lavender_20_approx: rgba(171, 140, 228, 0.2);
$black_90: rgba(0, 0, 0, 0.9);
$white_90: rgba(255, 255, 255, 0.9);
$black_50: rgba(0, 0, 0, 0.5);
$black_40: rgba(0, 0, 0, 0.4);
$color_masala_57_approx: rgba(60, 60, 60, 0.57);
$color_masala_27_approx: rgba(60, 60, 60, 0.27);
$color_suva_gray_24_approx: rgba(136, 136, 136, 0.24);
$color_mountain_mist_36_approx: rgba(146, 146, 146, 0.36);
$color_vulcan_approx: #17191d;
$seashell_15: rgba(241, 241, 241, 0.15);
$white_13: rgba(255, 255, 255, 0.13);
$seashell_35: rgba(241, 241, 241, 0.35);
$black_5: rgba(0, 0, 0, 0.05);
$color_tuna_30_approx: rgba(53, 59, 74, 0.3);
$white_10: rgba(255, 255, 255, 0.1);
$color_mischka_30_approx: rgba(206, 212, 218, 0.3);
$white_15: rgba(255, 255, 255, 0.15);
$color_congress_blue_approx: #004085;
$color_ship_gray_approx: #383d41;
$color_iron_approx: #d6d8db;
$color_parsley_approx: #155724;
$color_sea_mist_approx: #c3e6cb;
$color_crown_of_thorns_approx: #721c24;
$color_yukon_gold_approx: #856404;
$color_colonial_white_approx: #ffeeba;
$color_deep_sea_green_approx: #0c5460;
$color_jagged_ice_approx: #bee5eb;
$color_romance_approx: #fdfdfe;
$color_bright_gray_70_approx: rgba(54, 64, 74, 0.7);
$color_bright_gray_80_approx: rgba(54, 64, 74, 0.8);
$color_bright_gray_90_approx: rgba(54, 64, 74, 0.9);
$color_river_bed_approx: #434f5a;
$white_50: rgba(255, 255, 255, 0.5);
$black_70: rgba(0, 0, 0, 0.7);
$color_hit_gray_approx: #a3afb7;
$color_mid_gray_approx: #526069;
$black_22: rgba(0, 0, 0, 0.22);
$color_bunker_17_approx: rgba(19, 19, 19, 0.17);
$color_blue_chill_approx: #1a8b99;
$color_tropical_rain_forest_approx: #007658;
$color_blue_ribbon_approx: #0071f3;
$color_woodsmoke_approx: #0c0e13;
$color_hot_toddy_approx: #a79400;
$color_lavender_approx: #ac68fd;
$color_purple_heart_approx: #5934fc;
$color_mantis_approx: #88d563;
$color_pale_sky_approx: #6c757d;
$color_tapa_40_approx: rgba(119, 119, 119, 0.4);
$gallery: #efefef;
$color_white_lilac_75_approx: rgba(246, 247, 251, 0.75);
$color_wild_sand_approx: #f5f5f5;
$color_curious_blue_approx: #3185e6;
$color_emerald_approx: #4ed17d;
$color_razzmatazz_approx: #f31464;
$color_gunsmoke_approx: #7d8187;
$color_magic_mint_approx: #97ffcd;
$color_shamrock_approx: #24d27e;
$color_charade_approx: #293039;
$concrete: #f2f2f2;
$color_rangoon_green_approx: #1a1c1d;

//fonts
$font-arial:      arial;
$font-awesome:    FontAwesome;
$font-ICO:        IcoFont;
$font_verdana:    verdana;
$font_work-Sans:  work-Sans;
$font-open-tahoma:tahoma;
$font-raleway:    Raleway;
$font-serif:      sans-serif;
$font-themify:    themify;