body {
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.paginaquebra {
    left: 5px;
    margin-bottom: 300px;
    top: 0px;
    width: 680px;
}

.paginasemquebra {
    left: 5px;
    margin-bottom: 300px;
    top: 0px;
    width: 680px;
}

.container {
    height: 356px;
    left: 0px;
    position: relative;
    top: 15px;
    width: 100%;
}

.separator1,
.separator2 {
    border-top: 1px dashed #000000;
    height: 1px;
    left: 0px;
    padding-bottom: 20px;
    position: relative;
    top: 30px;
    width: 100%;
}

.separator2 {
    height: 180px;
    padding-bottom: 10px;
    top: 15px;
}

.aprovado,
.via,
.programachamador,
.datahora {
    font-size: 8px;
    font-weight: bold;
    position: absolute;
}

.aprovado {
    left: 3px;
    top: 0px;
}

.via {
    right: 3px;
    top: 0px;
}

.programachamador {
    bottom: 3px;
    left: 3px;
}

.datahora {
    bottom: 3px;
    right: 3px;
}

.observacaorodape1 {
    position: relative;
    left: 0px;
    top: 15px;
    padding: 5px;
    width: 670px;
    border: 1px solid #000000;
}

.observacaorodape2 {
    position: relative;
    left: 0px;
    top: 15px;
    padding: 5px;
    width: 670px;
}

.darf_left {
    position: absolute;
    left: 0px;
    top: 15px;
    border: 1px solid #000000;
    height: 341px;
    width: 340px;
}

.darf_right {
    position: absolute;
    top: 15px;
    left: 50%;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height: 341px;
    width: 340px;
}

.darf_right_left {
    position: absolute;
    top: 0px;
    left: 1px;
    height: 279px;
    width: 8%;
}

.darf_right_middle {
    position: absolute;
    top: 0px;
    left: 8%;
    height: 279px;
    width: 42%;
}

.darf_right_right {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 50%;
}

.logo_republica {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 65px;
    height: 76px;
}

.texto_ministerio1 {
    position: absolute;
    left: 77px;
    top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.texto_ministerio2 {
    position: absolute;
    left: 77px;
    top: 40px;
    font-size: 11px;
    font-weight: bold;
    width: 275px;
}

.texto_ministerio3_preto {
    position: absolute;
    left: 77px;
    top: 65px;
    font-size: 10px;
    font-weight: bold;
}

.texto_ministerio3_simples {
    position: absolute;
    left: 10%;
    top: 80px;
    width: 80%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.texto_ministerio4_preto {
    position: absolute;
    left: 77px;
    top: 100px;
    font-size: 16px;
    font-weight: bold;
}

.texto_ministerio4_simples {
    position: absolute;
    left: 0px;
    top: 125px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.campo01 {
    position: absolute;
    left: 0px;
    top: 154px;
    height: 50px;
    width: 100%;
    text-align: justify;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.campo01_left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 8.75%;
    font-size: 14px;
    font-weight: bold;
}

.campo01_right {
    position: absolute;
    top: 2px;
    left: 30px;
    width: 91.25%;
}

.campo_observacao {
    position: absolute;
    font-size: 9px;
    left: 5%;
    top: 207px;
    width: 90%;
    text-align: left;
}

.celula4 {
    height: 31px;
    width: 100%;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    font-weight: bold;
}

.celula5 {
    height: 31px;
    width: 100%;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.celula6 {
    height: 31px;
    width: 100%;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.celula7 {
    position: absolute;
    left: 0px;
    top: 289px;
    width: 8.57%;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}

.celula8 {
    position: absolute;
    left: 8.57%;
    top: 289px;
    padding: 2px;
}

.observacaodestaque {
    font-size: 12px;
    font-weight: bold;
}

.codigobarras {
    position: relative;
    left: 0px;
    top: 10px;
    height: 76px;
    width: 430px;
}

.codigo {
    position: relative;
    top: 10px;
    height: 15px;
    padding-left: 15px;
    padding-right: 13px;
}

.barras {
    position: absolute;
    left: 5px;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

.erro {
    position: absolute;
    bottom: 0px;
    top: 0px;
}

.bf {
    position: relative;
    height: 50px;
    width: 1px;
    border: 0px;
}

.bl {
    position: relative;
    height: 50px;
    width: 3px;
    border: 0px;
}